build/*
server/Debug/bin/*
server/Release/bin/*
releases/*
package/staging/*
test/bin/*
clients/Release/bin/*
clients/Debug/bin/*
faff/Debug/*
faff/Release/*
apis/python/__pycache__/*
apis/python/examples/__pycache__/*
apis/python/ndb/__pycache__/*
tests/__pycache__/*
tests/kv/__pycache__/*
tests/sv/__pycache__/*
tests/arr/__pycache__/*
tests/sessions/__pycache__/*
tests/oarr/__pycache__/*
tests/iarr/__pycache__/*
tests/sorted_iarr/__pycache__/*
apis/python/examples/cookies.json




