build/*
server/Debug/bin/*
server/Release/bin/*
releases/*
package/staging/*
test/bin/*
clients/Release/bin/*
clients/Debug/bin/*
faff/Debug/*
faff/Release/*
apis/python/__pycache__/ndb.cpython-310.pyc
apis/python/examples/__pycache__/common.cpython-310.pyc
