[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "unordered_dense"]
	path = unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "uuid_v4"]
	path = uuid_v4
	url = https://github.com/crashoz/uuid_v4.git
  ignore = dirty
[submodule "docs-deploy"]
	path = docs-deploy
	url = https://github.com/nemesisdb/docs-deploy.git
[submodule "jsoncons"]
	path = jsoncons
	url = https://github.com/danielaparker/jsoncons.git
